In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///ncaafootball.sqlite", echo=False)

In [4]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)
# reflect the tables

In [5]:
# View all of the classes that automap found
Base.classes.keys()

['Teams20152019',
 'attendance_ncaa2015',
 'attendance_ncaa2016',
 'attendance_ncaa2017',
 'attendance_ncaa2018',
 'attendance_ncaa2019']

In [6]:
# result= engine.execute("""SELECT school,id FROM Teams20152019 where id= 1""")

In [7]:
conn=engine.connect()

In [8]:
df = pd.read_sql("""SELECT * FROM attendance_ncaa2018 where id= 1""", conn)

In [9]:
df.head()

      School  Number_of_Games  Total_Attendance  Average_Attendance  ID  year
0  Air Force                6            166205               27701   1  2018