In [1]:
import pandas as pd
import os
import sys

In [2]:
file_one = "Draft_data/Draft_2003_2020_merge.csv"

In [3]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [4]:
file_one_df.head()

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Rushing Attempts,Rushing Yards,Rushing Touchdowns,Receptions,Receiving Yards,Receiving Touchdowns,Solo,Interceptions (DEF),Sacks,College
0,1,1,CIN,Carson Palmer,QB,23.0,2017.0,0,3,12,...,301.0,474.0,8.0,0.0,0.0,0.0,1.0,NaN,NaN,USC
1,1,2,DET,Charles Rogers,WR,22.0,2005.0,0,0,0,...,2.0,17.0,0.0,36.0,440.0,4.0,NaN,NaN,NaN,Michigan St.
2,1,3,HOU,Andre Johnson,WR,22.0,2016.0,2,7,12,...,23.0,54.0,0.0,1062.0,14185.0,70.0,1.0,NaN,NaN,Miami (FL)
3,1,4,NYJ,Dewayne Robertson,DT,21.0,2008.0,0,0,6,...,0.0,0.0,0.0,0.0,0.0,0.0,195.0,NaN,16.0,Kentucky
4,1,5,DAL,Terence Newman,DB,25.0,2017.0,0,2,15,...,1.0,4.0,0.0,0.0,0.0,0.0,749.0,42.0,2.0,Kansas St.

In [5]:
file_one_df=file_one_df.fillna(0)

In [6]:
# file_one_df.drop(['Sk'], axis=1, inplace=True)

In [7]:
file_one_df.head()

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Rushing Attempts,Rushing Yards,Rushing Touchdowns,Receptions,Receiving Yards,Receiving Touchdowns,Solo,Interceptions (DEF),Sacks,College
0,1,1,CIN,Carson Palmer,QB,23.0,2017.0,0,3,12,...,301.0,474.0,8.0,0.0,0.0,0.0,1.0,0.0,0.0,USC
1,1,2,DET,Charles Rogers,WR,22.0,2005.0,0,0,0,...,2.0,17.0,0.0,36.0,440.0,4.0,0.0,0.0,0.0,Michigan St.
2,1,3,HOU,Andre Johnson,WR,22.0,2016.0,2,7,12,...,23.0,54.0,0.0,1062.0,14185.0,70.0,1.0,0.0,0.0,Miami (FL)
3,1,4,NYJ,Dewayne Robertson,DT,21.0,2008.0,0,0,6,...,0.0,0.0,0.0,0.0,0.0,0.0,195.0,0.0,16.0,Kentucky
4,1,5,DAL,Terence Newman,DB,25.0,2017.0,0,2,15,...,1.0,4.0,0.0,0.0,0.0,0.0,749.0,42.0,2.0,Kansas St.

In [8]:
file_one_df.columns

Index(['Rnd', 'Pick', 'Tm', 'Player', 'Pos', 'Age', 'To', 'AP1', 'PB', 'St',
       'CareerAV', 'DraftedAV', 'GamesPlayed', 'Pass Completions',
       'Pass Attempts', 'Passing Yards', 'Passing Touchdowns',
       'Thrown Interceptions', 'Rushing Attempts', 'Rushing Yards',
       'Rushing Touchdowns', 'Receptions', 'Receiving Yards',
       'Receiving Touchdowns', 'Solo', 'Interceptions (DEF)', 'Sacks',
       'College'],
      dtype='object')

In [9]:
df_check=file_one_df.iloc[:,13:27].div(file_one_df.GamesPlayed, axis=0)

In [10]:
df_check.columns

Index(['Pass Completions', 'Pass Attempts', 'Passing Yards',
       'Passing Touchdowns', 'Thrown Interceptions', 'Rushing Attempts',
       'Rushing Yards', 'Rushing Touchdowns', 'Receptions', 'Receiving Yards',
       'Receiving Touchdowns', 'Solo', 'Interceptions (DEF)', 'Sacks'],
      dtype='object')

In [11]:
file_one_df['Pass Completions']=df_check['Pass Completions']
file_one_df['Pass Attempts']=df_check['Pass Attempts']
file_one_df['Passing Yards']=df_check['Passing Yards']
file_one_df['Passing Touchdowns']=df_check['Passing Touchdowns']
file_one_df['Thrown Interceptions']=df_check['Thrown Interceptions']
file_one_df['Rushing Attempts']=df_check['Rushing Attempts']
file_one_df['Rushing Yards']=df_check['Rushing Yards']
file_one_df['Rushing Touchdowns']=df_check['Rushing Touchdowns']
file_one_df['Receptions']=df_check['Receptions']
file_one_df['Receiving Yards']=df_check['Receiving Yards']
file_one_df['Receiving Touchdowns']=df_check['Receiving Touchdowns']
file_one_df['Solo']=df_check['Solo']
file_one_df['Interceptions (DEF)']=df_check['Interceptions (DEF)']
file_one_df['Sacks']=df_check['Sacks']

In [13]:
file_one_df.head()

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Rushing Attempts,Rushing Yards,Rushing Touchdowns,Receptions,Receiving Yards,Receiving Touchdowns,Solo,Interceptions (DEF),Sacks,College
0,1,1,CIN,Carson Palmer,QB,23.0,2017.0,0,3,12,...,1.653846,2.604396,0.043956,0.000000,0.000000,0.000000,0.005495,0.000000,0.000000,USC
1,1,2,DET,Charles Rogers,WR,22.0,2005.0,0,0,0,...,0.133333,1.133333,0.000000,2.400000,29.333333,0.266667,0.000000,0.000000,0.000000,Michigan St.
2,1,3,HOU,Andre Johnson,WR,22.0,2016.0,2,7,12,...,0.119171,0.279793,0.000000,5.502591,73.497409,0.362694,0.005181,0.000000,0.000000,Miami (FL)
3,1,4,NYJ,Dewayne Robertson,DT,21.0,2008.0,0,0,6,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.119565,0.000000,0.173913,Kentucky
4,1,5,DAL,Terence Newman,DB,25.0,2017.0,0,2,15,...,0.004525,0.018100,0.000000,0.000000,0.000000,0.000000,3.389140,0.190045,0.009050,Kansas St.

In [14]:
# df = file_one_df.dropna()

In [15]:
 file_one_df.drop(["Tm"], axis=1, inplace=True)

In [16]:
 file_one_df.drop(["Player"], axis=1, inplace=True)

In [17]:
 file_one_df.drop(["Pos"], axis=1, inplace=True)

In [18]:
df = file_one_df.dropna()

In [19]:
df

,Rnd,Pick,Age,To,AP1,PB,St,CareerAV,DraftedAV,GamesPlayed,...,Rushing Attempts,Rushing Yards,Rushing Touchdowns,Receptions,Receiving Yards,Receiving Touchdowns,Solo,Interceptions (DEF),Sacks,College
0,1,1,23.0,2017.0,0,3,12,108.0,61.0,182.0,...,1.653846,2.604396,0.043956,0.000000,0.000000,0.000000,0.005495,0.000000,0.000000,USC
1,1,2,22.0,2005.0,0,0,0,4.0,4.0,15.0,...,0.133333,1.133333,0.000000,2.400000,29.333333,0.266667,0.000000,0.000000,0.000000,Michigan St.
2,1,3,22.0,2016.0,2,7,12,95.0,93.0,193.0,...,0.119171,0.279793,0.000000,5.502591,73.497409,0.362694,0.005181,0.000000,0.000000,Miami (FL)
3,1,4,21.0,2008.0,0,0,6,34.0,31.0,92.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.119565,0.000000,0.173913,Kentucky
4,1,5,25.0,2017.0,0,2,15,71.0,50.0,221.0,...,0.004525,0.018100,0.000000,0.000000,0.000000,0.000000,3.389140,0.190045,0.009050,Kansas St.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4583,7,250,22.0,2020.0,0,0,0,1.0,1.0,12.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Clemson
4584,7,251,23.0,2020.0,0,0,0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,LSU
4585,7,252,22.0,2020.0,0,0,0,0.0,0.0,10.0,...,0.000000,0.000000,0.000000,0.600000,6.300000,0.000000,0.100000,0.000000,0.000000,Florida
4587,7,254,24.0,2020.0,0,0,0,1.0,1.0,9.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.444444,0.000000,0.000000,North Dakota St.
4588,7,255,23.0,2020.0,0,0,1,4.0,4.0,11.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.090909,0.000000,0.090909,Georgia

In [20]:
# # Step 0: Reformat data
# data = df.values
# X = data[:, 0:23]
# y = data[:, 23]

In [21]:
# from sklearn.preprocessing import LabelEncoder


# # Step 1: Label-encode data set
# label_encoder = LabelEncoder()
# label_encoder.fit(y)
# encoded_y = label_encoder.transform(y)

In [22]:
# for label, original_class in zip(encoded_y, y):
#     print('Original Class: ' + str(original_class))
#     print('Encoded Label: ' + str(label))
#     print('-' * 12)

In [23]:
# from tensorflow.keras.utils import to_categorical

# # Step 2: One-hot encoding
# one_hot_y = to_categorical(encoded_y)
# one_hot_y

In [24]:
# import required libraries
import pandas as pd
import numpy as np
# creating initial dataframe
df['College'] = df['College'].astype('category')
# Assigning numerical values and storing in another column
df['College_code'] = df['College'].cat.codes

C:\Users\mahes\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\mahes\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [25]:
df

,Rnd,Pick,Age,To,AP1,PB,St,CareerAV,DraftedAV,GamesPlayed,...,Rushing Yards,Rushing Touchdowns,Receptions,Receiving Yards,Receiving Touchdowns,Solo,Interceptions (DEF),Sacks,College,College_code
0,1,1,23.0,2017.0,0,3,12,108.0,61.0,182.0,...,2.604396,0.043956,0.000000,0.000000,0.000000,0.005495,0.000000,0.000000,USC,251
1,1,2,22.0,2005.0,0,0,0,4.0,4.0,15.0,...,1.133333,0.000000,2.400000,29.333333,0.266667,0.000000,0.000000,0.000000,Michigan St.,134
2,1,3,22.0,2016.0,2,7,12,95.0,93.0,193.0,...,0.279793,0.000000,5.502591,73.497409,0.362694,0.005181,0.000000,0.000000,Miami (FL),131
3,1,4,21.0,2008.0,0,0,6,34.0,31.0,92.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.119565,0.000000,0.173913,Kentucky,108
4,1,5,25.0,2017.0,0,2,15,71.0,50.0,221.0,...,0.018100,0.000000,0.000000,0.000000,0.000000,3.389140,0.190045,0.009050,Kansas St.,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4583,7,250,22.0,2020.0,0,0,0,1.0,1.0,12.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,Clemson,47
4584,7,251,23.0,2020.0,0,0,0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,LSU,109
4585,7,252,22.0,2020.0,0,0,0,0.0,0.0,10.0,...,0.000000,0.000000,0.600000,6.300000,0.000000,0.100000,0.000000,0.000000,Florida,69
4587,7,254,24.0,2020.0,0,0,0,1.0,1.0,9.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.444444,0.000000,0.000000,North Dakota St.,170
4588,7,255,23.0,2020.0,0,0,1,4.0,4.0,11.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,3.090909,0.000000,0.090909,Georgia,78

In [26]:
df.to_csv("collegeOne.csv", index=True, header=True)

In [27]:
target = df["College_code"]
target_names = ["negative", "positive"]

In [28]:
data = df.drop(["College","College_code"], axis=1)
feature_names = data.columns
data.head()

,Rnd,Pick,Age,To,AP1,PB,St,CareerAV,DraftedAV,GamesPlayed,...,Thrown Interceptions,Rushing Attempts,Rushing Yards,Rushing Touchdowns,Receptions,Receiving Yards,Receiving Touchdowns,Solo,Interceptions (DEF),Sacks
0,1,1,23.0,2017.0,0,3,12,108.0,61.0,182.0,...,1.027473,1.653846,2.604396,0.043956,0.000000,0.000000,0.000000,0.005495,0.000000,0.000000
1,1,2,22.0,2005.0,0,0,0,4.0,4.0,15.0,...,0.000000,0.133333,1.133333,0.000000,2.400000,29.333333,0.266667,0.000000,0.000000,0.000000
2,1,3,22.0,2016.0,2,7,12,95.0,93.0,193.0,...,0.000000,0.119171,0.279793,0.000000,5.502591,73.497409,0.362694,0.005181,0.000000,0.000000
3,1,4,21.0,2008.0,0,0,6,34.0,31.0,92.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.119565,0.000000,0.173913
4,1,5,25.0,2017.0,0,2,15,71.0,50.0,221.0,...,0.000000,0.004525,0.018100,0.000000,0.000000,0.000000,0.000000,3.389140,0.190045,0.009050

In [29]:
from sklearn.model_selection import train_test_split
from sklearn import tree
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [30]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.017357762777242044

In [31]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.019286403085824494

In [32]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.12350059078993, 'Pick'),
 (0.11453022209345169, 'GamesPlayed'),
 (0.093357178884143, 'Solo'),
 (0.08294573766536997, 'CareerAV'),
 (0.08084954501044032, 'To'),
 (0.07810452574540794, 'DraftedAV'),
 (0.05461362346709038, 'Age'),
 (0.0500238825379613, 'Rnd'),
 (0.047394186131757096, 'Sacks'),
 (0.04461146453733316, 'St'),
 (0.03514814168971772, 'Interceptions (DEF)'),
 (0.03290954253500034, 'Receiving Yards'),
 (0.03220934901237723, 'Receptions'),
 (0.02510921015567995, 'Rushing Yards'),
 (0.024922487298674124, 'Rushing Attempts'),
 (0.021255197252981986, 'Receiving Touchdowns'),
 (0.012860604854312539, 'PB'),
 (0.012374589098196498, 'Rushing Touchdowns'),
 (0.008107540546636802, 'Pass Attempts'),
 (0.0059327627065506715, 'Passing Yards'),
 (0.005640050207515889, 'Pass Completions'),
 (0.005497254010569775, 'AP1'),
 (0.004287945066259059, 'Thrown Interceptions'),
 (0.0038143687026426535, 'Passing Touchdowns')]